table {
			color: #333;
			font-family: Helvetica, Arial, sans-serif;
			width: 800px;
			border-collapse: collapse;
			border-spacing: 0;
		}
		td,th{
			border:1px solid #DBD4D3;
		}
		#tbl{
			padding-top: 20px;
		}
		a{
			text-decoration: none;
			color: #639FAB;
		}
		a:visited{
			text-decoration: none;
		}
		#a_edit{
			font-weight: bold;
		}
		#a_edit:hover{
			color:#DB5375;
		}
		a:hover{
			font-weight: bold;
		}
		#name_email{
			color: #2D3E5B;
		}
		#tr-head{
			background-color: #59808F;
			color: #F6F8F6;
		}
		#btn{
			background-color: #59808F;
			color: white;
			text-decoration: none;
			width: 80px;
			border-color: #aaa;
		}
		#tr_even{
			background-color: #E8F1F2;
		}
		#tbtn{
			text-align: center;
		}
		#edit_img{
			margin:0 auto;
  			width:25px;
  			height:25px;
  			transition: background-image 1s ease-in-out;
  			background-image:url("img/doc.png");
		}
		#edit_img:hover{
			background-image:url("img/pen.png");
		}